h1.pirma_antraste{
    text-align: center;
    background-color: #ffccff;
}
img.kiausiniai, img.kanoliai{
    height: 150px;
}
#vardas{
    color: grey;
    text-align: right;
}
/*---Lentelė---*/
table{
    width: 80%;
    height: 80%;
    margin: auto;
    text-align: center;
    background-color: #ffccb3;
    border: solid 3px black;
}
tr, td{
    border: solid 1px black;
}
tr.pavadinimas{
    background-color: whitesmoke;
    height: 50px;
    text-transform: uppercase;
}
tr{
    height: 200px;
}
/*---Antras puslapis---*/
h1.receptas{
    text-align: left;
    background-color: aquamarine;
}
h2.ingridientai{
    text-transform: uppercase;
    color: blue;
    font-size: 20px;
}
